<main class="main">
  <section class="hero">
    <h1 class="hero__welcome">A
      <span class="highlight">free</span>
      jobs board for students</h1>
    <p class="hero__phrase">
      We'll help you get that nixer!
    </p>
    <a href="#" class="hero__action">Join</a>
  </section>
  <section class="steps">
    <h1 class="steps__heading center_heading">Get started in a few easy steps!</h1>
    <div class="steps__details">
      <div class="steps__details__student">
        <h3 class="steps__details__student__heading center_heading">Students</h3>
        <ol class="steps__details__student__list">
          <li class="first">Tell us in which area you live</li>
          <li class="second">Browse jobs in that area</li>
          <li class="third">Apply for the ones you like</li>
          <li class="fourth">Wait to hear back</li>
          <li class="fifth">Profit!</li>
        </ol>
      </div>
      <div class="steps__details__employer">
        <h3 class="steps__details__employer__heading center_heading">Employers</h3>
        <ol class="steps__details__employer__list">
          <li class="first">Tell us where the work will be done</li>
          <li class="second">Add your job offering</li>
          <li class="third">Wait to hear from applicants</li>
          <li class="fourth">Choose a person to do the job</li>
          <li class="fifth">Sorted!</li>
        </ol>
      </div>
    </div>
  </section>
</main>
